# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# Data
data/

# Models (too large for git)
*.pth
*.pt

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
